<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Neue Bestellung</ion-title>
        <ion-buttons slot="end">

            <!-- Notifications -->
            <ion-button fill="solid" color="success" shape="round" (click)="notification.showUnread()" *ngIf="notification.unread.length">
                <ion-icon slot="start" name="notifications-outline"></ion-icon>
                <ion-label>Ungelesene Benachrichtigung</ion-label>
            </ion-button>

            <ion-button (click)="askForCancelBestellung()" [hidden]="bestellungsHandler.neubestellung.bestellung === null">
                <ion-icon name="close-circle" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- Keine aktuelle Bestellung im BestellungenService -->
<ion-content class="center ion-padding" [hidden]="bestellungsHandler.neubestellung.bestellung !== null">
    <div class="center-wrapper">
        <div class="center-content">

            <!-- Ready -->
            <ion-button *ngIf="bestellungsHandler.aufnehmer" (click)="starteTischAuswahl()" class="neue-bestellung">Neue Bestellung starten</ion-button>

            <!-- Aufnehmer -->
            <h4 class="aufnehmer" *ngIf="!bestellungsHandler.aufnehmer">Keine Aufnehmer ausgewählt!</h4>
            <h4 class="aufnehmer" *ngIf="bestellungsHandler.aufnehmer">Du nimmtst die Bestellungen als <strong>{{ bestellungsHandler.aufnehmer?.vorname }} {{ bestellungsHandler.aufnehmer?.nachname }}</strong> auf!</h4>
        </div>
    </div>
</ion-content>

<ion-footer class="neubestellung-footer" [hidden]="bestellungsHandler.neubestellung.bestellung !== null">
    <ion-button id="select-aufnehmer">Aufnehmer auswählen</ion-button>
</ion-footer>

<!-- Tischauswahl -->
<ion-content [hidden]="bestellungsHandler.neubestellung.status != 'tischauswahl'">
    <div class="kachelwand">
        <div *ngFor="let tisch of data.tische" [hidden]="tisch.tischkategorien_id != filterTischkategorieId" [ngClass]="{'kachel': true, 'tisch-kachel': true, 'tisch-kachel--big-1': (tisch.reihe.length > 7), 'tisch-kachel--big-2': (tisch.reihe.length > 14)}">
            <div class="kachel__inner">
                <ion-button text-wrap text-normal expand="full" (click)="selectTisch(tisch)">
                    <span class="button-inner">{{ tisch.reihe }} {{ tisch.nummer }}</span>
                </ion-button>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer [hidden]="bestellungsHandler.neubestellung.status != 'tischauswahl'">
    <div class="kachelwand">
        <div class="kachel tischkategorie-kachel" *ngFor="let tischkategorie of data.tischkategorien">
            <div class="kachel__inner">
                <ion-button text-wrap text-normal expand="full" (click)="changeFilterTischkategorieId(tischkategorie.id)">
                    <span class="button-inner">{{ tischkategorie.name }}</span>
                </ion-button>
            </div>
        </div>
    </div>
</ion-footer>

<!-- Bestellpositionen & Produktauswahl -->
<ion-content class="status-current-bestellpositionen" [hidden]="bestellungsHandler.neubestellung.status != 'bestellpositionen'">
    <div class="content">
        <div class="content-left">
            <div class="tisch">
                <h1>{{ bestellungsHandler.neubestellung.bestellung?.tisch?.reihe }} {{ bestellungsHandler.neubestellung.bestellung?.tisch?.nummer }}</h1>
                <ion-button fill="outline" size="small" color="light" (click)="changeTisch()">
                    <ion-label>ändern</ion-label>
                    <ion-icon name="settings" slot="end"></ion-icon>
                </ion-button>
            </div>
            <div class="bestellpositionen">
                <ion-list>
                    <ion-item button *ngFor="let bp of bestellungsHandler.neubestellung.bestellung?.bestellpositionen.slice().reverse(); index as nonReverseIndex" (click)="editBestellungsposition(bp, nonReverseIndex)">
                        <ion-label text-wrap>
                            <h3><strong>{{ bp.anzahl }}</strong> {{ bp.produkt.name }}</h3>
                            <p>{{ (bp.produkt.preis * bp.anzahl) | euroPreis }}</p>
                            <p *ngIf="bp.display.eigenschaften.mit.length"><strong>Mit:</strong> {{ bp.display.eigenschaften.mit.join(", ") }}</p>
                            <p *ngIf="bp.display.eigenschaften.ohne.length"><strong>Ohne:</strong> {{ bp.display.eigenschaften.ohne.join(", ") }}</p>
                            <p *ngIf="bp.notiz"><strong>Notiz:</strong> {{ bp.notiz }}</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="content-right">
            <ion-list *ngFor="let produkteinteilung of filterProduktkategorie.produkteinteilungen">
                <ion-item-divider>{{ produkteinteilung.name }}</ion-item-divider>
                <ion-item button *ngFor="let produkt of produkteinteilung.produkte" (click)="addBestellposition(produkt, 'standard', $event)">
                    <ion-label text-wrap>
                        <h2>{{ produkt?.name }}</h2>
                        <p>{{ produkt?.preis | euroPreis }}</p>
                    </ion-label>
                    <ion-button slot="end" shape="round" (click)="addBestellposition(produkt, 'new_line', $event)">
                        <ion-icon name="git-pull-request" slot="icon-only"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>

<ion-footer class="status-current-bestellpositionen" [hidden]="bestellungsHandler.neubestellung.status != 'bestellpositionen'">
    <div class="footer">
        <div class="footer-left">
            <div class="summe">
                <span class="summe__euro">€</span>
                <span class="summe__betrag">{{ bestellungsHandler.neubestellung.bestellung?.calcSumme() | euroPreis: {'symbol': false, 'zerotext': false} }}</span>
            </div>
            <div class="submit">
                <ion-button size="large" expand="block" color="success" (click)="kontrolliereBestellung()" [disabled]="bestellungsHandler.neubestellung.bestellung?.bestellpositionen.length == 0">
                    <ion-label>Abschluss </ion-label>
                    <ion-icon slot="start" name="checkmark-circle"></ion-icon>
                </ion-button>
            </div>
        </div>
        <div class="footer-right">
            <div class="kachelwand">
                <div class="kachel produktkategorie-kachel" *ngFor="let produktkategorie of data.produktkategorien">
                    <div class="kachel__inner" [ngClass]="produktkategorie.color">
                        <ion-button text-wrap text-normal expand="full" (click)="changeFilterProduktkategorie(produktkategorie)">
                            <span class="button-inner">{{produktkategorie.name}}</span>
                        </ion-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-footer>

<ion-modal #aufnehmerModal *ngIf="data.ready" trigger="select-aufnehmer" [isOpen]="false" [breakpoints]="[0.1, 0.5, 1]" [initialBreakpoint]="1" [canDismiss]="true">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-title>Aufnehmer auswählen</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-radio-group [(ngModel)]="bestellungsHandler.aufnehmer" allow-empty-selection="false">
                <ion-item *ngFor="let aufnehmer of data.aufnehmer" (click)="aufnehmerModal.dismiss()">
                    <ion-label>{{ aufnehmer.vorname }} {{ aufnehmer.nachname }}</ion-label>
                    <ion-radio [value]="aufnehmer"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-content>
        <ion-footer class="aufnehmer-auswahl-footer">
            <ion-button (click)="aufnehmerModal.dismiss()">
                <ion-icon slot="start" name="close-outline"></ion-icon>
                Auswahl abbrechen
            </ion-button>
        </ion-footer>
    </ng-template>
</ion-modal>
