// Neue Bestellung Button
.neue-bestellung {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-start: 40px;
    --padding-end: 40px;

    text-transform: none;
    font-size: 1.15em;
}

// .aufnehmer-auswahl-footer,
// .neubestellung-footer {
//     text-align: center;
//     padding: 2em;
// }

.aufnehmer {
    margin-top: 3em;
}

// --ion-grid-width-xs: 100%;
// --ion-grid-width-sm: 540px;
// --ion-grid-width-md: 720px;
// --ion-grid-width-lg: 960px;
// --ion-grid-width-xl: 1140px;