<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Neue Bestellung</ion-title>
        <ion-buttons slot="end">

            <!-- Notifications -->
            <!-- <ion-button fill="solid" color="success" shape="round" (click)="notification.showUnread()" (keypress)="notification.showUnread()" *ngIf="notification.unread.length">
                <ion-icon slot="start" name="notifications-outline"></ion-icon>
                <ion-label>Ungelesene Benachrichtigung</ion-label>
            </ion-button> -->

            @if(bestellung())
            {
            <ion-button (click)="askForCancelBestellung()" (keypress)="askForCancelBestellung()">
                <ion-icon name="close-circle" slot="icon-only"></ion-icon>
            </ion-button>
            }
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- Keine aktuelle Bestellung im BestellungenService -->

@if(!aufnehmer() || !bestellung())
{
<app-aufnehmer-auswahl [aufnehmer]="aufnehmer()"></app-aufnehmer-auswahl>
}
@else if(bestellung().status == 'tischauswahl')
{
<app-tisch-auswahl (onTischSelected)="selectTisch($event)"></app-tisch-auswahl>
}
@else if(bestellung().status == 'bestellpositionen')
{
<app-bestellung-edit></app-bestellung-edit>
}