<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Bestellungen</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="filterSelectTische()">
          <ion-icon name="pin" slot="icon-only"></ion-icon>
        </ion-button>
      <ion-button (click)="filterSelectAufnehmer()">
        <ion-icon name="people" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="center" padding="true" [hidden]="filtredBestellungen.length">
  <ion-grid class="center">
    <ion-row class="center" justify-content-center align-items-center>
      <p>Keine Bestellungen</p>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content [hidden]="!filtredBestellungen.length">

  <!-- Hidden Selects -->
  <ion-select #aufnehmerSelect [interfaceOptions]="{header: 'Aufnehmer'}" [(ngModel)]="filter.aufnehmerId" style="display: none;" (ionChange)="filterBestellungen()">
    <ion-select-option [value]="null">Alle</ion-select-option>
    <ion-select-option *ngFor="let aufnehmer of data.aufnehmer" [value]="aufnehmer.id">{{ aufnehmer.vorname }} {{ aufnehmer.nachname }}</ion-select-option>
  </ion-select>
  <ion-select #tischeSelect [interfaceOptions]="{header: 'Tische'}" [(ngModel)]="filter.tischeId" style="display: none;" (ionChange)="filterBestellungen()">
    <ion-select-option [value]="null">Alle</ion-select-option>
    <ion-select-option *ngFor="let tisch of data.tische" [value]="tisch.id">{{ tisch.reihe }} {{ tisch.nummer }}</ion-select-option>
  </ion-select>

  <ion-list>
    <ion-item *ngFor="let bestellung of filtredBestellungen" [routerLink]="['/bestellungen', bestellung.id]">
        <ion-label>
          <h2>{{ bestellung?.tisch.reihe }} {{ bestellung?.tisch.nummer }}</h2>
          <p>Datum: <strong>{{ bestellung?.timestamp_beendet | date: 'dd.MM.yyyy' }} um {{ bestellung?.timestamp_beendet | date: 'HH:mm:ss' }} Uhr</strong></p>
          <p>Summe: <strong>{{ bestellung?.bestellung_summe | euroPreis }}</strong></p>
        </ion-label>
        <ion-note slot="end">{{ bestellung?.aufnehmer.vorname }} {{ bestellung?.aufnehmer.nachname }}</ion-note>
        <!--<ion-icon slot="end"name="arrow-forward"></ion-icon>-->
    </ion-item>
  </ion-list>
</ion-content>