<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Bestellungen</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="qrScanOpen()">
                <ion-icon name="qr-code-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [hidden]="bestellungen?.length > 0">
    <div class="center-wrapper">
        <div class="centered ion-text-center">
            <ion-icon name="search-outline"></ion-icon>
            <p>Benutzen Sie die untenstehende Filter- und Suchfunktion, um Bestellungen zu finden!</p>
        </div>
    </div>
</ion-content>

<ion-content *ngIf="bestellungen">
    <ion-list>
        <ion-item *ngFor="let bestellung of bestellungen" [routerLink]="['/bestellungen', bestellung.id]">
            <ion-label>
                <h2>{{ bestellung?.tisch?.reihe }} {{ bestellung?.tisch?.nummer }}</h2>
                <p>Datum: <strong>{{ bestellung?.timestamp_beendet | date: 'dd.MM.yyyy' }} um {{ bestellung?.timestamp_beendet | date: 'HH:mm:ss' }} Uhr</strong></p>
                <p>Summe: <strong>{{ bestellung?.summe | euroPreis }}</strong></p>
            </ion-label>
            <ion-note slot="end">{{ bestellung?.aufnehmer?.vorname }} {{ bestellung?.aufnehmer?.nachname }}</ion-note>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-list>
            <ion-item color="light">
                <ion-icon slot="start" name="people-outline"></ion-icon>
                <ion-label>Aufnehmer</ion-label>
                <ion-select interface="action-sheet" placeholder="Aufnehmer" [(ngModel)]="usedFilter.aufnehmerId">
                    <ion-select-option value="*">Alle</ion-select-option>
                    <ion-select-option *ngFor="let aufnehmer of availableFilter.aufnehmer" [value]="aufnehmer.id">{{ aufnehmer.vorname }} {{ aufnehmer.nachname }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item color="light">
                <ion-icon slot="start" name="navigate-circle-outline"></ion-icon>
                <ion-label>Tisch</ion-label>
                <ion-select interface="action-sheet" placeholder="Tische" [(ngModel)]="usedFilter.tischId">
                    <ion-select-option value="*">Alle</ion-select-option>
                    <ion-select-option *ngFor="let tisch of availableFilter.tische" [value]="tisch.id">{{ tisch.reihe }} {{ tisch.nummer }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item color="light">
                <ion-icon slot="start" name="timer-outline"></ion-icon>
                <ion-label>Letzte Bestellungen</ion-label>
                <ion-select interface="action-sheet" placeholder="Letzte Bestellungen" [(ngModel)]="usedFilter.limit">
                    <ion-select-option *ngFor="let limit of availableFilter.limits" [value]="limit">{{ limit }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class="search-button ion-text-center ion-activatable ripple-parent" (click)="getBestellungen()" lines="none" color="primary">
                <ion-label>
                    <ion-icon name="search-outline"></ion-icon>
                    Suchen
                </ion-label>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-item>
        </ion-list>
    </ion-toolbar>
</ion-footer>
