<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Bestellungen</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="qrScanOpen()">
                <ion-icon name="qr-code-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="center" padding="true" [hidden]="bestellungen?.length > 0">
    <ion-grid class="center">
        <ion-row class="center" justify-content-center align-items-center>
            <p>Keine Bestellungen</p>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let bestellung of bestellungen" [routerLink]="['/bestellungen', bestellung.id]">
            <ion-label>
                <h2>{{ bestellung?.tisch.reihe }} {{ bestellung?.tisch.nummer }}</h2>
                <p>Datum: <strong>{{ bestellung?.timestamp_beendet | date: 'dd.MM.yyyy' }} um {{ bestellung?.timestamp_beendet | date: 'HH:mm:ss' }} Uhr</strong></p>
                <p>Summe: <strong>{{ bestellung?.summe | euroPreis }}</strong></p>
            </ion-label>
            <ion-note slot="end">{{ bestellung?.aufnehmer.vorname }} {{ bestellung?.aufnehmer.nachname }}</ion-note>
        </ion-item>
    </ion-list>
</ion-content>