<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Aufnehmer wählen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- keine aktive Session => Aufnehmer wählen -->
  <ion-list [hidden]="session.running.state">
    <ion-radio-group [(ngModel)]="selectedAufnehmer" name="selectedAufnehmerId" allow-empty-selection="false">
      <ion-item *ngFor="let aufnehmer of data.aufnehmer">
        <ion-label>{{aufnehmer.vorname}} {{aufnehmer.nachname}}</ion-label>
        <ion-radio [value]="aufnehmer"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-grid [hidden]="session.running.state">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
          <ion-button (click)="readySelectedAufnehmer()">Session starten</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <!-- aktive Session => Beenden required -->
  <ion-grid [hidden]="!session.running.state">
    <ion-row>
        <ion-col>
          <p>Es ist auf diesem Gerät gerade eine Session aktiv. Um eine neue Session mit einem neuen Aufnehmer zu starten muss die alte Session zuvor beendet werden.</p>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button (click)="session.askForEndSession()">Session beenden</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
