<ion-content>
    <div class="kachelwand">

        @for(tisch of filtredTischeToDisplay(); track tisch.id)
        {
        <div [ngClass]="{'kachel': true, 'tisch-kachel': true, 'tisch-kachel--big-1': (tisch.reihe.length > 7), 'tisch-kachel--big-2': (tisch.reihe.length > 14)}">
            <div class="kachel__inner">
                <ion-button text-wrap text-normal expand="full" (click)="selectTisch(tisch)" (keypress)="selectTisch(tisch)">
                    <span class="button-inner">{{ tisch.reihe }} {{ tisch.nummer }}</span>
                </ion-button>
            </div>
        </div>
        }
    </div>
</ion-content>

<ion-footer>
    <div class="kachelwand">
        @for(tischkategorie of filtredTischkategorienToDisplay(); track tischkategorie.id)
        {
        <div class="kachel tischkategorie-kachel">
            <div class="kachel__inner">
                <ion-button text-wrap text-normal expand="full" (click)="selectTischkategorie(tischkategorie)" (keypress)="selectTischkategorie(tischkategorie)">
                    <span class="button-inner">{{ tischkategorie.name }}</span>
                </ion-button>
            </div>
        </div>
        }
    </div>
</ion-footer>