<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Produktbereiche</ion-title>
    </ion-toolbar>
</ion-header>

@if (produktbereiche()) {
<ion-content>
    <ion-list lines="full">
        @for (produktbereich of produktbereiche(); track produktbereich.id) {
        <ion-item [routerLink]="[produktbereich.id]" [button]="true">
            <ion-label>
                <h3>{{ produktbereich.name }}</h3>
                <p>{{ produktbereich.drucker?.name }}</p>
            </ion-label>
        </ion-item>
        }
    </ion-list>
</ion-content>
}
@else{
<ffgbsy-page-spinner></ffgbsy-page-spinner>
}