<ion-header>
    <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()">Schließen</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ffgbsy-status-list-item [status]="apiAvailability().status">
            <h3>{{ apiAvailability().entity }}</h3>
            <p>Erreichbarkeit</p>
        </ffgbsy-status-list-item>
        <ion-item-divider>Drucker</ion-item-divider>
        @for(item of druckerAvailabilities(); track item)
        {
        <ffgbsy-status-list-item [status]="item.status">
            <h3>{{ item.entity.name }}</h3>
            <p>{{ item.entity.ip }}</p>
        </ffgbsy-status-list-item>
        }
    </ion-list>
</ion-content>