<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="/admin/produkte"></ion-back-button>
        <ion-title>{{ produkt.name }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="save()">
                <ion-icon name="save" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">
        <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input [(ngModel)]="produkt.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Formaler Name</ion-label>
            <ion-input [(ngModel)]="produkt.formal_name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Preis</ion-label>
            <ion-input type="number" step=".1" [(ngModel)]="produkt.preis"></ion-input>
        </ion-item>
        <!-- drucker_id_level_2 -->
        <ion-item>
            <ion-label position="stacked">Aktiv</ion-label>
            <ion-toggle [(ngModel)]="produkt.aktiv"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Jubiläum feiern</ion-label>
            <ion-toggle [(ngModel)]="produkt.celebration_active"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Letztes Jubiläum</ion-label>
            <ion-input type="number" step="1" [(ngModel)]="produkt.celebration_last"></ion-input>
        </ion-item>
        <ion-item-divider>Direkte Eigenschaftendes Produktes</ion-item-divider>
        <ion-item *ngFor="let eigenschaft of produkt.eigenschaften">
            <ion-label>
                <h3>{{ eigenschaft.name }}</h3>
                <p>{{ eigenschaft.preis | euroPreis }}</p>
            </ion-label>
            <ion-chip color="primary" *ngIf="eigenschaft.in_produkt_enthalten">
                <ion-icon name="checkmark-circle"></ion-icon>
                <ion-label>enthalten</ion-label>
            </ion-chip>
            <ion-chip color="warning" *ngIf="!eigenschaft.in_produkt_enthalten">
                <ion-icon name="close-circle"></ion-icon>
                <ion-label>nicht enthalten</ion-label>
            </ion-chip>
        </ion-item>
    </ion-list>
</ion-content>
