<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <!--<ion-button href="/bestellungen">Back</ion-button>-->
    </ion-buttons>
    <ion-title>Bestellung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header color="primary">Details</ion-list-header>
    <ion-item>
      <ion-label>
        <h3>{{ bestellung?.id }}</h3>
        <p>ID</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>{{ bestellung?.tisch.reihe }} {{ bestellung?.tisch.nummer }}</h3>
        <p>Tisch</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>{{ bestellung?.aufnehmer.vorname }} {{ bestellung?.aufnehmer.nachname }}</h3>
        <p>Aufnehmer</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>{{ bestellung?.timestamp_begonnen | date: 'dd.MM.yyyy HH:mm:ss' }}</h3>
        <p>Begonnen</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>{{ bestellung?.timestamp_beendet | date: 'dd.MM.yyyy HH:mm:ss' }}</h3>
        <p>Beendet</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>{{ bestellung?.timestamp_gedruckt | date: 'dd.MM.yyyy HH:mm:ss' }}</h3>
        <p>Gedruckt</p>
      </ion-label>
    </ion-item>

    <ion-list-header color="primary">Summe</ion-list-header>
    <ion-item>{{ bestellung?.gesamtsumme | euroPreis }}</ion-item>

    <ion-list-header color="primary">Bestellpositionen</ion-list-header>
    <ion-item *ngFor="let b of bestellung?.positionen">
      <ion-label>
        <h3><strong>{{ b.anzahl }}x </strong>{{ b.name }}</h3>
        <p>{{ b.position_gesamtsumme | euroPreis }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>