<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Umsatz</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="loadData()">
                <ion-icon name="refresh-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h3>Umsatz pro Tag</h3>
    @if (pieChartReadyToShow()) {
        <div class="chart-container chart-container--pie">
            <canvas baseChart width="300" height="300" type="pie" [data]="chartUmsatzProTag" [options]="chartOptions" [legend]="true"> </canvas>
        </div>
    }

    @if (tableProduktbereiche()) {
        <h3>Umsatz per Produktkategorie</h3>
        <div class="stat-table">
            <table>
                <thead>
                    <tr>
                        <th class="headline"></th>
                        @for (item of tableProduktbereiche()?.data; track $index) {
                            <th scope="col">{{ item.datum | date: "dd.MM.yyyy" }}</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (header of tableProduktbereiche()?.header; track $index; let i = $index) {
                        <tr>
                            <th scope="row">{{ tableProduktbereiche().header[i].name }}</th>
                            @for (item of tableProduktbereiche()?.data; track $index; let j = $index) {
                                <td>{{ tableProduktbereiche()?.data[j].data[i].summe | euroPreis: { zerotext: false } }}</td>
                            }
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="row">Summe</th>
                        @for (item of tableProduktbereiche()?.data; track $index) {
                            <td>{{ item.summe | euroPreis: { zerotext: false } }}</td>
                        }
                    </tr>
                </tfoot>
            </table>
        </div>
    }

    @if (tableProduktkategorien()) {
        <h3>Umsatz per Produktbereich</h3>
        <div class="stat-table">
            <table>
                <thead>
                    <tr>
                        <th class="headline"></th>
                        @for (item of tableProduktkategorien()?.data; track $index) {
                            <th scope="col">{{ item.datum | date: "dd.MM.yyyy" }}</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (header of tableProduktkategorien()?.header; track $index; let i = $index) {
                        <tr>
                            <th scope="row">{{ tableProduktkategorien().header[i].name }}</th>
                            @for (item of tableProduktkategorien()?.data; track $index; let j = $index) {
                                <td>{{ tableProduktkategorien()?.data[j].data[i].summe | euroPreis: { zerotext: false } }}</td>
                            }
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="row">Summe</th>
                        @for (item of tableProduktkategorien()?.data; track $index) {
                            <td>{{ item.summe | euroPreis: { zerotext: false } }}</td>
                        }
                    </tr>
                </tfoot>
            </table>
        </div>
    }
</ion-content>
