:host {

    .chart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;

        &--pie {
            max-width: 400px;
            width: 100%;
            margin: 0px auto;
        }
    }

    .table-produktbereiche,
    .table-produktkategorien {
        padding-top: 1em;
        padding-bottom: 2em;
        overflow-x: auto;

        table {
            width: 100%;
            background-color: #f4f4f4;

            tr {

                td,
                th {
                    border: 4px #fff solid;
                    padding: 1em;
                    text-align: left;

                    &.headline {
                        max-width: 300px;
                        width: 50%;
                    }
                }

                td {
                    text-align: right;
                }
            }
        }
    }

}
