<ion-header>
    <ion-toolbar>
        <ion-title>Statistiken</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="chart-container">
        <h2>Anzahl Bestellungen</h2>
        <canvas *ngIf="ready" baseChart width="600" height="300" [type]="'line'" [data]="chartTimelineBestellungen" [options]="lineChartOptions" [legend]="lineChartLegend"></canvas>
    </div>
    <div class="chart-container">
        <h2>Bestellfrequenz</h2>
        <canvas *ngIf="ready" baseChart width="600" height="300" [type]="'line'" [data]="chartTimelineFrequenz" [options]="lineChartOptions" [legend]="lineChartLegend"></canvas>
    </div>
    <div class="chart-container">
        <h2>Umsatz</h2>
        <canvas *ngIf="ready" baseChart width="600" height="300" [type]="'line'" [data]="chartTimelineUmsatz" [options]="lineChartOptions" [legend]="lineChartLegend"></canvas>
    </div>
</ion-content>
