<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Tischkategorien</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    @defer (when tischkategorien()) {
    <ion-list lines="full">
        @for (tischkategorie of tischkategorien(); track tischkategorie.id) {
        <ion-item [routerLink]="[tischkategorie.id]" [button]="true">
            <ion-label>
                <h3>{{ tischkategorie.name }}</h3>
                <p>{{ tischkategorie.produktkategorie?.name }}</p>
            </ion-label>
            <ion-note slot="end">{{ tischkategorie.tische.length }} Tische</ion-note>
        </ion-item>
        }
    </ion-list>
    }
    @placeholder(minimum 300ms){
    <ffgbsy-page-spinner></ffgbsy-page-spinner>
    }
</ion-content>
