<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Benachrichtigungen</ion-title>
    <ion-buttons slot="end">
      @if (notification.unread.length) {
        <ion-button fill="solid" color="success" shape="round" (click)="notification.showUnread()">
          <ion-icon slot="start" name="notifications-outline"></ion-icon>
          <ion-label>Ungelesene Benachrichtigung</ion-label>
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @if (notification.unread.length) {
      <ion-item-divider>Ungelesen</ion-item-divider>
    }
    @for (item of notification.unread; track item) {
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h3 class="title">{{ item.title }}</h3>
          <p class="author">{{ item.author }}</p>
          <p class="message">{{ item.message }}</p>
        </ion-label>
        <ion-chip slot="end">{{ item?.timestamp | date: 'dd.MM.yyyy HH:mm:ss' }}</ion-chip>
      </ion-item>
    }

    @if (notification.archive.length) {
      <ion-item-divider>Archiv</ion-item-divider>
    }
    @for (item of notification.archive; track item) {
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h3 class="title">{{ item.title }}</h3>
          <p class="author">{{ item.author }}</p>
          <p class="message">{{ item.message }}</p>
        </ion-label>
        <ion-chip slot="end">{{ item?.timestamp | date: 'dd.MM.yyyy HH:mm:ss' }}</ion-chip>
      </ion-item>
    }
  </ion-list>
</ion-content>
