<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Benachrichtigungen</ion-title>
        <ion-buttons slot="end">
            <ion-button fill="solid" color="success" shape="round" (click)="notification.showUnread()" *ngIf="notification.unread.length">
                <ion-icon slot="start" name="notifications-outline"></ion-icon>
                <ion-label>Ungelesene Benachrichtigung</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-divider *ngIf="notification.unread.length">Ungelesen</ion-item-divider>
        <ion-item *ngFor="let item of notification.unread">
            <ion-label class="ion-text-wrap">
                <h3 class="title">{{ item.title }}</h3>
                <p class="author">{{ item.author }}</p>
                <p class="message">{{ item.message }}</p>
            </ion-label>
            <ion-chip slot="end">{{ item?.timestamp | date: 'dd.MM.yyyy HH:mm:ss' }}</ion-chip>
        </ion-item>

        <ion-item-divider *ngIf="notification.archive.length">Archiv</ion-item-divider>
        <ion-item *ngFor="let item of notification.archive">
            <ion-label class="ion-text-wrap">
                <h3 class="title">{{ item.title }}</h3>
                <p class="author">{{ item.author }}</p>
                <p class="message">{{ item.message }}</p>
            </ion-label>
            <ion-chip slot="end">{{ item?.timestamp | date: 'dd.MM.yyyy HH:mm:ss' }}</ion-chip>
        </ion-item>
    </ion-list>
</ion-content>
