<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Benachrichtigungen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-divider *ngIf="notifications.unread.length">Ungelesen</ion-item-divider>
        <ion-item *ngFor="let notification of notifications.unread">
            <ion-label class="ion-text-wrap">
                <h3 class="title">{{ notification.title }}</h3>
                <p class="author">{{ notification.author }}</p>
                <p class="message">{{ notification.message }}</p>
            </ion-label>
            <ion-chip slot="end">{{ notification?.timestamp | date: 'dd.MM.yyyy HH:mm:ss' }}</ion-chip>
        </ion-item>

        <ion-item-divider *ngIf="notifications.archive.length">Archiv</ion-item-divider>
        <ion-item *ngFor="let notification of notifications.archive">
            <ion-label class="ion-text-wrap">
                <h3 class="title">{{ notification.title }}</h3>
                <p class="author">{{ notification.author }}</p>
                <p class="message">{{ notification.message }}</p>
            </ion-label>
            <ion-chip slot="end">{{ notification?.timestamp | date: 'dd.MM.yyyy HH:mm:ss' }}</ion-chip>
        </ion-item>
    </ion-list>
</ion-content>
