:host {
    .tile {
        background-color: #f4f4f4;
        padding: 1em;
        border-radius: 0.7em;
        width: 100%;
        margin-top: 1.5em;

        .start-icon {
            font-size: 1.75em;
            margin-right: 0.5em;
        }

        h4 {
            font-weight: bold;
            font-size: 1.15em;
            margin: 0px;
            line-height: 1;
        }

        p {
            line-height: 1;
            margin-top: 0.5em;
            margin-bottom: 0px;
        }

        &--success {
            // background-color: var(--ion-color-success);
            background-color: var(--ion-color-primary);
            color: #fff;
        }

        // &--clickable {
        //     background-color: var(--ion-color-primary);
        //     color: #fff;
        // }
    }
}