<ion-header>
    <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()">Schließen</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <ion-list>
        @for(item of dataAvailabilities(); track item)
        {
        <ffgbsy-status-list-item [status]="item.status">
            <h3>{{ item.entity }}</h3>
            <p>{{ item.additionalData }} Datensätze</p>
        </ffgbsy-status-list-item>
        }
    </ion-list> -->
</ion-content>