:host{
    display: flex;
    flex-direction: column;
    padding: 1em 0em;
    border-top: 2px #ddd solid;

    &:first-of-type{
        border-top: 0px;
    }
}

.top{
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    align-items: center;
    margin-bottom: 0.5em;
}

.status{
    margin-right: 0.5em;
    height: 1.2em;
}

.label{
    height: 1.2em;
}

.message{
    font-size: 1em;
    color: #777;
}
