<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="bestellungen"></ion-back-button>
        </ion-buttons>
        <ion-title>Bestellung</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>
                <h3>{{ bestellung?.id }}</h3>
                <p>Identifikationsnummer (Bestellung ID)</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>{{ bestellung?.tisch.reihe }} {{ bestellung?.tisch.nummer }}</h3>
                <p>Tisch</p>
            </ion-label>
        </ion-item>

        <ion-item-divider color="light">
            <ion-label>Zeiten</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label>
                <h3>{{ bestellung?.timestamp_begonnen | date: 'dd.MM.yyyy' }} um {{ bestellung?.timestamp_begonnen | date: 'HH:mm:ss' }} Uhr</h3>
                <p>Timestamp Bestellung begonnen</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>{{ bestellung?.timestamp_beendet | date: 'dd.MM.yyyy' }} um {{ bestellung?.timestamp_beendet | date: 'HH:mm:ss' }} Uhr</h3>
                <p>Timestamp Bestellung gesendet</p>
            </ion-label>
        </ion-item>

        <ion-item-divider color="light">
            <ion-label>Aufnehmer und Gerät</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label>
                <h3>{{ bestellung?.aufnehmer.vorname }} {{ bestellung?.aufnehmer.nachname }}</h3>
                <p>Aufnehmer</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>{{ bestellung?.device_name }}</h3>
                <p>Gerät</p>
            </ion-label>
            <ion-note slot="end">{{ bestellung?.device_ip }}</ion-note>
        </ion-item>

        <ion-item-divider color="light">
            <ion-label>Bestellpositionen</ion-label>
        </ion-item-divider>
        <ion-item-sliding *ngFor="let bestellposition of bestellung?.bestellpositionen; let i = index">
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col size="auto">
                            #{{ i+1 }}
                        </ion-col>
                        <ion-col>
                            <ion-label>
                                <h3>{{ bestellposition?.anzahl }} {{ bestellposition?.produkt?.name }}</h3>
                                <p>({{ bestellposition?.anzahl }}x {{ bestellposition?.produkt?.preis | euroPreis }} = {{ bestellposition?.summe_ohne_eigenschaften | euroPreis }})</p>
                                <p class="eigenschaften">
                                    <ion-chip color="secondary" outline *ngFor="let eigenschaft of bestellposition?.eigenschaften.mit">mit {{ eigenschaft.name}} ({{ eigenschaft.preis | euroPreis}})</ion-chip>
                                    <ion-chip color="secondary" outline *ngFor="let eigenschaft of bestellposition?.eigenschaften.ohne">ohne {{ eigenschaft.name}} ({{ eigenschaft.preis | euroPreis}})</ion-chip>
                                </p>
                                <p *ngIf="notiz">
                                    Info: <span>{{ bestellung?.notiz }}</span>
                                </p>

                            </ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-badge [hidden]="bestellposition?.anzahl_storno <= 0" color="danger">{{ bestellposition?.anzahl_storno }}x storniert!</ion-badge>
                <ion-note slot="end">
                    <ion-chip>
                        {{ bestellposition?.summe | euroPreis }}
                    </ion-chip>
                </ion-note>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="askStornoAnzahl(bestellposition)" color="danger" [hidden]="(bestellposition?.anzahl - bestellposition?.anzahl_storno) <= 0">
                    <ion-label>Stornieren</ion-label>
                    <ion-icon name="remove-circle" slot="end"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
        <ion-item color="primary">
            <ion-label>
                <h3>{{ bestellung?.summe | euroPreis}}</h3>
                <p>Summe</p>
            </ion-label>
        </ion-item>

        <ion-item-divider color="light">
            <ion-label>Bons</ion-label>
        </ion-item-divider>
        <!-- <ion-item-divider>
            <ion-label>{{ bon.drucker.name }}</ion-label>
            <ion-button slot="end" size="small" shape="round" fill="outline" (click)="printBon(bon.drucker.id)">
                <ion-icon name="print" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-item-divider> -->
        <ion-item *ngFor="let bon of bestellung?.bons">
            <ion-icon [hidden]="!bon.result" name="checkmark-circle" slot="start" color="success"></ion-icon>
            <ion-icon [hidden]="bon.result" name="alert" slot="start" color="danger"></ion-icon>
            <ion-label>
                <h3>
                    {{ bon?.drucker.name }}
                    <ion-text [hidden]="bon.result" color="primary"><br />{{ bon.result_message }}</ion-text>
                </h3>
                <p>Laufnummer: {{ bon.laufnummer }}</p>
            </ion-label>
            <ion-note slot="end">
                {{ bon?.timestamp_gedruckt | date: 'dd.MM.yyyy' }}<br />
                {{ bon?.timestamp_gedruckt | date: 'HH:mm:ss' }} Uhr
            </ion-note>
            <ion-button slot="end" size="small" shape="round" fill="outline" (click)="printBon(bestellung?.id, bon.drucker.id)">
                <ion-icon name="print" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-item>

    </ion-list>
</ion-content>