<ion-list class="sidemenu-main-menu" lines="full">
    <ffgbsy-menu-item icon="home-outline" link="/">Start</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="create-outline" link="/neue-bestellung">Neue Bestellung</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="file-tray-outline" link="/bestellungen">Bestellungen</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="pulse-outline" link="/systemstatus">Systemstatus</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="settings-outline" link="/settings">Systemeinstellungen</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="person-outline" link="/aufnehmer-edit" [disabled]="!aufnehmer()">
        <span>Einstellungen für </span>
        @if(aufnehmer())
        {
        {{ aufnehmer()?.vorname }} {{ aufnehmer()?.nachname }}
        }
        @else
        {
        Aufnehmer
        }
    </ffgbsy-menu-item>
    @if(isAdmin())
    {
    <ion-item-divider>
        <ion-label>Information</ion-label>
    </ion-item-divider>
    <ffgbsy-menu-item icon="stats-chart-outline" link="/admin/statistics">Statistiken</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="speedometer-outline" link="/admin/auslastung" [disabled]="true">Auslastung</ffgbsy-menu-item>

    <h2 class="ion-padding">Produktverwaltung</h2>
    <ffgbsy-menu-item link="/admin/grundprodukte" [disabled]="true">Grundprodukte</ffgbsy-menu-item>
    <ffgbsy-menu-item link="/admin/produktkategorien" [disabled]="true">Produktkategorien</ffgbsy-menu-item>
    <ffgbsy-menu-item link="/admin/produkteintielungen" [disabled]="true">Produkteinteilungen</ffgbsy-menu-item>
    <ffgbsy-menu-item link="/admin/produkte">Produkte</ffgbsy-menu-item>

    <h2 class="ion-padding">Basisdaten</h2>
    <ffgbsy-menu-item link="/admin/aufnehmer" [disabled]="true">Aufnehmer:innen</ffgbsy-menu-item>
    <ffgbsy-menu-item link="/admin/tischkategorien" [disabled]="true">Tischkategorien</ffgbsy-menu-item>
    <ffgbsy-menu-item link="/admin/tische" [disabled]="true">Tische</ffgbsy-menu-item>
    }
</ion-list>

@if (aufnehmer())
{
<div class="init-button ion-padding">
    <ion-menu-toggle auto-hide="false">
        <ion-button color="primary" (click)="logout()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon> ausloggen
        </ion-button>
    </ion-menu-toggle>
</div>
}