<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Statistiken</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="loadStatistics()">
        <ion-icon name="refresh-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chart-container">
    <h2>Anzahl Bestellungen</h2>
    @if (readyTimeline) {
      <canvas baseChart width="600" height="300" [type]="'line'" [data]="chartTimelineBestellungen" [options]="chartOptions" [legend]="chartLegend"></canvas>
    }
  </div>
  <div class="chart-container">
    <h2>Bestellfrequenz</h2>
    @if (readyTimeline) {
      <canvas baseChart width="600" height="300" [type]="'line'" [data]="chartTimelineFrequenz" [options]="chartOptions" [legend]="chartLegend"></canvas>
    }
  </div>
  <div class="chart-container">
    <h2>Umsatz</h2>
    @if (readyTimeline) {
      <canvas baseChart width="600" height="300" [type]="'line'" [data]="chartTimelineUmsatz" [options]="chartOptions" [legend]="chartLegend"></canvas>
    }
  </div>
  <div class="chart-container chart-container--pie">
    @if (readyPie) {
      <canvas baseChart width="300" height="300" [type]="'pie'" [datasets]="chartKennzahlenUmsatz.datasets" [labels]="chartKennzahlenUmsatz.labels" [options]="chartOptions" [legend]="chartLegend">
      </canvas>
    }
  </div>
  <h3>Umsatz per Produktbereich</h3>
  <div class="table-produktbereiche">
    <table>
      <thead>
        <tr>
          <th class="headline"></th>
          @for (item of tableProduktbereiche?.data; track item) {
            <th scope="col">{{ item.datum | date: 'dd.MM.yyyy' }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (header of tableProduktbereiche?.header; track header; let i = $index) {
          <tr>
            <th scope="row">{{ tableProduktbereiche.header[i].name }}</th>
            @for (item of tableProduktbereiche?.data; track item; let j = $index) {
              <td>{{ tableProduktbereiche?.data[j].data[i].summe | euroPreis: { symbol: true, zerotext: false } }}</td>
            }
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <th scope="row">Summe</th>
          @for (item of tableProduktbereiche?.data; track item) {
            <td>{{ item.summe | euroPreis: { symbol: true, zerotext: false } }}</td>
          }
        </tr>
      </tfoot>
    </table>
  </div>
  <h3>Umsatz per Produktkategorie</h3>
  <div class="table-produktkategorien">
    <table>
      <thead>
        <tr>
          <th class="headline"></th>
          @for (item of tableProduktkategorien?.data; track item) {
            <th scope="col">{{ item.datum | date: 'dd.MM.yyyy' }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (header of tableProduktkategorien?.header; track header; let i = $index) {
          <tr>
            <th scope="row">{{ tableProduktkategorien.header[i].name }}</th>
            @for (item of tableProduktkategorien?.data; track item; let j = $index) {
              <td>{{ tableProduktkategorien?.data[j].data[i].summe | euroPreis: { symbol: true, zerotext: false } }}</td>
            }
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <th scope="row">Summe</th>
          @for (item of tableProduktkategorien?.data; track item) {
            <td>{{ item.summe | euroPreis: { symbol: true, zerotext: false } }}</td>
          }
        </tr>
      </tfoot>
    </table>
  </div>
</ion-content>