@defer (when grundprodukt()) {
<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="/admin/daten/grundprodukte"></ion-back-button>
        <ion-title>{{ grundprodukt()?.name }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="save()">
                <ion-icon name="save" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form" (ngSubmit)="save()">
        <ion-list lines="full">
            <ion-item>
                <ion-label position="stacked">Name</ion-label>
                <ion-input formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-toggle formControlName="unlimitiert">Unlimitiert</ion-toggle>
            </ion-item>
            @if(showBestand()){
            <ion-item>
                <ion-label position="stacked">Bestand</ion-label>
                <ion-input inputmode="decimal" type="number" step="1" min="0" formControlName="bestand"></ion-input>
            </ion-item>
            }
            <ion-item>
                <ion-label position="stacked">Einheit</ion-label>
                <ion-input formControlName="einheit"></ion-input>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
}

@placeholder{
<ffgbsy-page-spinner></ffgbsy-page-spinner>
}