h1{
    text-align: center;
    padding: 30px 0px;
}

.anzahl{
    background-color: #f4f4f4;
    padding: 30px 0px;

    ion-col{
        text-align: center;
    }

    h2{
        margin: 0px;
        font-weight: bold;
        font-size: 1.6em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

ion-list{
    padding: 0px;
}

ion-footer{
    background-color: #ffffff;
    padding: 8px 16px;

    ion-button{
        margin: 8px 0px;
    }
}