ion-menu{
    --side-max-width: 400px;

    .container{
        display: flex;
        flex-direction: column;
        height: 100%;

        // Items
        .sidemenu-main-menu{
            padding-top: 0px;
            flex: 1;

            ion-item{
                ion-label{
                    line-height: 60px;
                }
            }
        }

        .init-button{
            margin: 1em;
        }
    }
}


// Alert & Modal Styles

:host ::ng-deep {

    ion-alert {
        --max-width: 350px;

        .alert-message{
            white-space: pre-wrap;
        }
    }
}

// Ion-Select Alert

:host ::ng-deep {
    .single-select-alert{
        --max-width: 400px;
        --min-width: 350px;
    }
}


// Systemcheck auf Init Page

:host ::ng-deep {
    .systemstatus-success{
        .action-sheet-icon{
            color: var(--ion-color-success);
        }
    }

    .systemstatus-danger{
        .action-sheet-icon{
            color: var(--ion-color-danger);
        }
    }
}


// Zoom Levels
:host ::ng-deep {

    .zoom-level{

        // Std. Ionic Sizes

        &--2{
            $tischkategorie-kachel_font-size: 1.10em;
            $tisch-kachel_font-size: 1.35em;

            $produktkategorie-kachel_font-size: 1.10em;

            $bestellposition-h3_font-size: 1.15em;
            $bestellposition-p_font-size: 0.90em;

            $produktauswahl-produkteinteilung_font-size: 1.00em;
            $produktauswahl-item-h2_font-size: 1.15em;
            $produktauswahl-item-p_font-size: 1.00em;

            $produktauswahl-item-button_width-height: 40px;

            // Classen
            .tischkategorie-kachel ion-button { font-size: $tischkategorie-kachel_font-size; }
            .tisch-kachel ion-button { font-size: $tisch-kachel_font-size; }

            .produktkategorie-kachel ion-button { font-size: $produktkategorie-kachel_font-size; }

            .content-left ion-list ion-item ion-label h3 { font-size: $bestellposition-h3_font-size; }
            .content-left ion-list ion-item ion-label p { font-size: $bestellposition-p_font-size; }

            .content-right ion-list ion-item-divider { font-size: $produktauswahl-produkteinteilung_font-size; }
            .content-right ion-list ion-item ion-label h2 { font-size: $produktauswahl-item-h2_font-size; }
            .content-right ion-list ion-item ion-label p { font-size: $produktauswahl-item-p_font-size; }

            .content-right ion-list ion-item ion-button { width: $produktauswahl-item-button_width-height !important; height: $produktauswahl-item-button_width-height !important; }
        }

        &--3{
            $tischkategorie-kachel_font-size: 1.30em;
            $tisch-kachel_font-size: 1.6em;

            $produktkategorie-kachel_font-size: 1.25em;

            $bestellposition-h3_font-size: 1.25em;
            $bestellposition-p_font-size: 1.00em;

            $produktauswahl-produkteinteilung_font-size: 1.00em;
            $produktauswahl-item-h2_font-size: 1.30em;
            $produktauswahl-item-p_font-size: 1.00em;

            $produktauswahl-item-button_width-height: 46px;

            // Classen
            .tischkategorie-kachel ion-button { font-size: $tischkategorie-kachel_font-size; }
            .tisch-kachel ion-button { font-size: $tisch-kachel_font-size; }

            .produktkategorie-kachel ion-button { font-size: $produktkategorie-kachel_font-size; }

            .content-left ion-list ion-item ion-label h3 { font-size: $bestellposition-h3_font-size; }
            .content-left ion-list ion-item ion-label p { font-size: $bestellposition-p_font-size; }

            .content-right ion-list ion-item-divider { font-size: $produktauswahl-produkteinteilung_font-size; }
            .content-right ion-list ion-item ion-label h2 { font-size: $produktauswahl-item-h2_font-size; }
            .content-right ion-list ion-item ion-label p { font-size: $produktauswahl-item-p_font-size; }

            .content-right ion-list ion-item ion-button { width: $produktauswahl-item-button_width-height !important; height: $produktauswahl-item-button_width-height !important; }
        }
    }
}
