<ion-app [ngClass]="zoomLevel()">
    @if (loadingShow()) {
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
    }
    <ion-split-pane contentId="main-content" [when]="deviceSplitPaneBreakpoint()">
        <ion-menu side="start" menuId="sidemenu" contentId="main-content">
            <ion-content>
                <ffgbsy-menu></ffgbsy-menu>
            </ion-content>
        </ion-menu>

        <div id="main-content">
            <ion-router-outlet> </ion-router-outlet>
        </div>
    </ion-split-pane>
</ion-app>
