<ion-app [ngClass]="'zoom-level--' + (bestellungsHandler?.aufnehmer?.zoom_level ?? 1)">
    <ion-split-pane contentId="main-content" when="lg">

        <!--  Menu  -->
        <ion-menu side="start" menuId="sidemenu" contentId="main-content">
            <ion-content>
                <div class="container">
                    <!-- Menu Links -->
                    <ion-list class="sidemenu-main-menu" lines="full">
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/neue-bestellung']" menuClose>
                                <ion-label>Neue Bestellung</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/bestellungen']" menuClose>
                                <ion-label>Bestellungen</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/systemstatus']" menuClose>
                                <ion-label>Systemstatus</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/settings']" menuClose>
                                <ion-label>Systemeinstellungen</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </ion-list>

                    <ion-list *ngIf="isAdmin" class="sidemenu-admin-menu" lines="full">
                        <ion-item-divider>
                            <ion-label>Information</ion-label>
                        </ion-item-divider>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/statistics']" menuClose>
                                <ion-label>Statistiken</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/statistics']" menuClose>
                                <ion-label>Benachrichtigungen</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-item-divider>
                            <ion-label>Daten</ion-label>
                        </ion-item-divider>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/statistics']" menuClose>
                                <ion-label>Grundprodukte</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/statistics']" menuClose>
                                <ion-label>Produkte</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </ion-list>

                    <!-- Session Info - Session Beenden -->
                    <div class="init-button">
                        <ion-menu-toggle auto-hide="false">
                            <ion-button routerLink="/init">
                                <ion-icon slot="start" name="refresh-outline"></ion-icon> Initialisierung
                            </ion-button>
                        </ion-menu-toggle>
                    </div>
                </div>
            </ion-content>
        </ion-menu>

        <!-- Router Outlet -->
        <ion-router-outlet id="main-content"></ion-router-outlet>

    </ion-split-pane>
</ion-app>
