<ion-app [ngClass]="zoomLevel()">

    <ion-split-pane contentId="main-content" when="lg">

        <!--  Menu  -->
        <ion-menu side="start" menuId="sidemenu" contentId="main-content">
            <ion-content>
                <div class="container">
                    <!-- Menu Links -->
                    <ion-list class="sidemenu-main-menu" lines="full">
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/']">
                                <ion-icon name="bookmark-outline" slot="start"></ion-icon>
                                <ion-label>Start</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/neue-bestellung']">
                                <ion-icon name="create-outline" slot="start"></ion-icon>
                                <ion-label>Neue Bestellung</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/bestellungen']">
                                <ion-icon name="file-tray-outline" slot="start"></ion-icon>
                                <ion-label>Bestellungen</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/systemstatus']">
                                <ion-icon name="pulse-outline" slot="start"></ion-icon>
                                <ion-label>Systemstatus</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/settings']">
                                <ion-icon name="settings-outline" slot="start"></ion-icon>
                                <ion-label>Systemeinstellungen</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/aufnehmer-edit']" [disabled]="!aufnehmer()">
                                <ion-icon name="person-outline" slot="start"></ion-icon>
                                <ion-label>
                                    <span>Einstellungen für </span>
                                    @if(aufnehmer())
                                    {
                                    {{ aufnehmer()?.vorname }} {{ aufnehmer()?.nachname }}
                                    }
                                    @else
                                    {
                                    Aufnehmer
                                    }
                                </ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </ion-list>

                    @if(isAdmin())
                    {
                    <ion-list class="sidemenu-admin-menu" lines="full">
                        <ion-item-divider>
                            <ion-label>Information</ion-label>
                        </ion-item-divider>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/admin/statistics']">
                                <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
                                <ion-label>Statistiken</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/admin/notifactions']">
                                <ion-icon name="send-outline" slot="start"></ion-icon>
                                <ion-label>Benachrichtigungen</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/admin/logs']">
                                <ion-icon name="bug-outline" slot="start"></ion-icon>
                                <ion-label>Logs</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-item-divider>
                            <ion-label>Daten</ion-label>
                        </ion-item-divider>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/admin/grundprodukte']">
                                <ion-icon name="restaurant-outline" slot="start"></ion-icon>
                                <ion-label>Grundprodukte</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item [routerLink]="['/admin/produkte']">
                                <ion-icon name="beer-outline" slot="start"></ion-icon>
                                <ion-label>Produkte</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </ion-list>
                    }

                    <!-- Clear Aufnehmer -->
                    @if (aufnehmer())
                    {
                    <div class="init-button">
                        <ion-menu-toggle auto-hide="false">
                            <ion-button color="primary" (click)="logout()">
                                <ion-icon slot="start" name="log-out-outline"></ion-icon> ausloggen
                            </ion-button>
                        </ion-menu-toggle>
                    </div>
                    }
                </div>
            </ion-content>
        </ion-menu>

        <div id="main-content">
            <!-- Router Outlet -->
            <ion-router-outlet> </ion-router-outlet>
        </div>

    </ion-split-pane>

    <ffgbsy-frontend-loading></ffgbsy-frontend-loading>

</ion-app>