:host {
    display: flex;
    flex-direction: column;
    flex: 1;

    .status-current-bestellpositionen {

        .content {
            display: flex;
            flex-direction: row;
            padding: 0px;
            min-height: 100%;
            height: 100%;

            .content-left {
                width: 44%;
                padding: 0px;
                min-height: 100%;
                height: 100%;
                background-color: #f8f8f8;
                overflow: auto;

                .tisch {
                    background-color: var(--ion-color-primary-tint);
                    padding: 20px 0px;
                    align-items: center;
                    display: flex;
                    flex-direction: column;

                    h1 {
                        margin: 0px;
                        padding: 0px;
                        line-height: 1.15;
                        width: 100%;
                        text-align: center;
                        margin-bottom: 12px;
                        color: var(--ion-color-primary-contrast);
                    }

                    ion-botton {
                        --border-color: #ffffff;
                        --color: #ffffff;
                    }
                }

                .bestellpositionen {
                    ion-list {
                        width: 100%;
                        --ion-background-color: transparent;
                    }
                }
            }

            .content-right {
                width: 56%;
                padding: 0px;
                min-height: 100%;
                overflow: auto;

                ion-item {
                    ion-button {
                        width: 36px;
                        height: 36px;
                    }
                }
            }

            ion-item {
                --padding-start: 0px;
                --ion-safe-area-left: 0px;
                --inner-padding-start: 16px;
                --ion-safe-area-right: 0px;
            }
        }

        .footer {
            display: flex;
            flex-direction: row;
            padding: 0px;

            .footer-left {
                width: 44%;
                display: flex;
                flex-direction: column;
                padding: 0px;

                .summe {
                    width: 100%;
                    padding: 30px 20px;
                    font-size: 1.7em;
                    font-weight: bold;
                    text-align: center;

                    &__euro {
                        font-size: 0.7em;
                        margin-right: 6px;
                        color: #777;
                    }
                }

                .submit {
                    width: 100%;
                    height: 100%;
                    padding: 0px; // 20px 20px 20px;
                    flex-basis: 0;
                    flex-grow: 1;
                    overflow: auto;

                    ion-button {
                        width: 100%;
                        height: 100%;
                        margin: 0px;
                        padding: 0px;
                        --border-radius: 0px;

                        ion-icon {
                            width: 1.25em;
                            height: 1.25em;
                        }
                    }
                }
            }

            .footer-right {
                width: 56%;
                padding: 0px;
            }
        }

        .produktkategorie-kachel {
            width: 33.3333%;
            font-size: 0.9em;
            min-height: 80px;

            .kachel__inner {
                text-align: center;
            }
        }
    }

    .round-button {
        --padding-top: 38px;
        --padding-bottom: 38px;
        height: 76px;
    }
}