<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Produktverkauf</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="stat-table">
        <table>
            <thead>
                <tr>
                    <th class="headline" scope="col">Produkt</th>
                    @for (item of tableProdukte()?.header; track item) {
                    <th scope="col">{{ item.datum | date: 'dd.MM.yyyy' }}</th>
                    }
                    <th scope="col">Anzahl</th>
                    <th scope="col">Umsatz</th>
                </tr>
            </thead>
            <tbody>
                @for (item of tableProdukte()?.data; track item.id) {
                <tr>
                    <th scope="row">{{ item.produkt }}</th>
                    @for (datapoint of item.data; track datapoint) {
                    <td>{{ datapoint.anzahl }}</td>
                    }
                    <td>{{ item.anzahl }}</td>
                    <td>{{ item.umsatz | euroPreis: { symbol: true, zerotext: false } }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</ion-content>