<ion-list class="sidemenu-main-menu" lines="full">
    <ffgbsy-menu-item no-border icon="home-outline" link="/">Start</ffgbsy-menu-item>

    @if (showAufnehmen()) {
        <ffgbsy-menu-item icon="create-outline" link="/neue-bestellung">Neue Bestellung</ffgbsy-menu-item>
        <ffgbsy-menu-item icon="file-tray-outline" link="/bestellungen">Bestellungen</ffgbsy-menu-item>
        <ffgbsy-menu-item icon="person-outline" link="/aufnehmer-edit" [disabled]="!aufnehmer()">
            <span>Einstellungen für </span>
            @if (aufnehmer()) {
                {{ aufnehmer()?.vorname }} {{ aufnehmer()?.nachname }}
            } @else {
                Aufnehmer
            }
        </ffgbsy-menu-item>
    }

    @if (showAbrechnung()) {
        <ffgbsy-menu-item icon="cash-outline" link="/abrechnung">Abrechnung</ffgbsy-menu-item>
    }

    @if (showAufnehmen() && aufnehmer()) {
        <div class="init-button ion-padding">
            <ion-menu-toggle auto-hide="false">
                <ion-button color="primary" (click)="logout()"> <ion-icon slot="start" name="log-out-outline"></ion-icon> ausloggen </ion-button>
            </ion-menu-toggle>
        </div>
    }

    @if (showStatistik()) {
        <h2 class="ion-padding">Auswertungen</h2>
        <ffgbsy-menu-item icon="analytics-outline" link="/auswertungen/timeline">Zeitleiste</ffgbsy-menu-item>
        <ffgbsy-menu-item icon="stats-chart-outline" link="/auswertungen/keys">Kennzahlen</ffgbsy-menu-item>
        <ffgbsy-menu-item icon="beer-outline" link="/auswertungen/product-sales">Produktverkauf</ffgbsy-menu-item>
        <ffgbsy-menu-item icon="logo-euro" link="/auswertungen/sales-volumne">Umsatz</ffgbsy-menu-item>
        <ffgbsy-menu-item icon="eye-outline" link="/auswertungen/uebersicht-angebot">Produkte & Eigenschaften</ffgbsy-menu-item>
    }

    @if (showBonDebug() || showSystemeinstellungen()) {
        <h2 class="ion-padding">Fehlerbehebung</h2>
        @if (showBonDebug()) {
            <ffgbsy-menu-item icon="receipt-outline" link="/fehlerbehebungen/failed-bons">Bon Drucke</ffgbsy-menu-item>
        }

        @if (showSystemeinstellungen()) {
            <ffgbsy-menu-item icon="print-outline" link="/fehlerbehebungen/drucker">Drucker Einstellungen</ffgbsy-menu-item>
        }
    }

    <h2 class="ion-padding">Status & Einstellungen</h2>
    <ffgbsy-menu-item icon="pulse-outline" link="/systemstatus">Systemstatus</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="settings-outline" link="/settings">Systemeinstellungen</ffgbsy-menu-item>

    @if (showProduktverwaltung()) {
        <h2 class="ion-padding">Produktverwaltung</h2>
        <ffgbsy-menu-item link="/daten/grundprodukte">Grundprodukte</ffgbsy-menu-item>
        <ffgbsy-menu-item link="/daten/produktbereiche">Produktbereiche</ffgbsy-menu-item>
        <ffgbsy-menu-item link="/daten/produktkategorien">Produktkategorien</ffgbsy-menu-item>
        <ffgbsy-menu-item link="/daten/produkteinteilungen">Produkteinteilungen</ffgbsy-menu-item>
        <ffgbsy-menu-item link="/daten/produkte">Produkte</ffgbsy-menu-item>
    }

    @if (showPersonenverwaltung() || showTischverwaltung()) {
        <h2 class="ion-padding">Basisdaten</h2>
        @if (showPersonenverwaltung()) {
            <ffgbsy-menu-item link="/daten/personen">Personen</ffgbsy-menu-item>
        }
        @if (showTischverwaltung()) {
            <ffgbsy-menu-item link="/daten/tischkategorien">Tischkategorien</ffgbsy-menu-item>
            <ffgbsy-menu-item link="/daten/tische">Tische</ffgbsy-menu-item>
        }
    }
</ion-list>
