<ion-list class="sidemenu-main-menu" lines="full">
    <ffgbsy-menu-item icon="home-outline" link="/">Start</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="create-outline" link="/neue-bestellung">Neue Bestellung</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="file-tray-outline" link="/bestellungen">Bestellungen</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="pulse-outline" link="/systemstatus">Systemstatus</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="settings-outline" link="/settings">Systemeinstellungen</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="person-outline" link="/aufnehmer-edit" [disabled]="!aufnehmer()">
        <span>Einstellungen für </span>
        @if(aufnehmer())
        {
        {{ aufnehmer()?.vorname }} {{ aufnehmer()?.nachname }}
        }
        @else
        {
        Aufnehmer
        }
    </ffgbsy-menu-item>
    @if(isAdmin())
    {
    <h2 class="ion-padding">Auswertungen</h2>
    <ffgbsy-menu-item icon="analytics-outline" link="/admin/auswertungen/timeline">Zeitleiste</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="stats-chart-outline" link="/admin/auswertungen/keys">Kennzahlen</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="beer-outline" link="/admin/auswertungen/product-sales">Produktverkauf</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="logo-euro" link="/admin/auswertungen/sales-volumne">Umsatz</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="eye-outline" link="/admin/auswertungen/uebersicht-angebot">Produkte & Eigenschaften</ffgbsy-menu-item>

    <h2 class="ion-padding">Fehlerbehebung</h2>
    <ffgbsy-menu-item icon="document-text-outline" link="/admin/fehlerbehebungen/failed-bons">Bon Drucke</ffgbsy-menu-item>
    <ffgbsy-menu-item icon="print-outline" link="/admin/fehlerbehebungen/drucker">Drucker Einstellungen</ffgbsy-menu-item>

    <h2 class="ion-padding">Produktverwaltung</h2>
    <ffgbsy-menu-item link="/admin/daten/grundprodukte">Grundprodukte</ffgbsy-menu-item>
    <ffgbsy-menu-item link="/admin/daten/produktbereiche">Produktbereiche</ffgbsy-menu-item>
    <ffgbsy-menu-item link="/admin/daten/produktkategorien">Produktkategorien</ffgbsy-menu-item>
    <ffgbsy-menu-item link="/admin/daten/produkteinteilungen">Produkteinteilungen</ffgbsy-menu-item>
    <ffgbsy-menu-item link="/admin/daten/produkte">Produkte</ffgbsy-menu-item>

    <h2 class="ion-padding">Basisdaten</h2>
    <ffgbsy-menu-item link="/admin/daten/aufnehmer">Aufnehmer:innen</ffgbsy-menu-item>
    <ffgbsy-menu-item link="/admin/daten/tischkategorien">Tischkategorien</ffgbsy-menu-item>
    <ffgbsy-menu-item link="/admin/daten/tische">Tische</ffgbsy-menu-item>
    }
</ion-list>

@if (aufnehmer())
{
<div class="init-button ion-padding">
    <ion-menu-toggle auto-hide="false">
        <ion-button color="primary" (click)="logout()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon> ausloggen
        </ion-button>
    </ion-menu-toggle>
</div>
}
