<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="center-wrapper">
        <div class="centered">

            <img class="logo" src="assets/icon.svg" alt="Logo">

            <h4 class="tagline">FF Gemeinlebarn Bestellsystem</h4>
            <h4 class="version">Version {{ version.number }}</h4>

            <div class="tiles">
                <app-init-tile title="Aufnehmer" [subtitle]="aufnehmerNameForSubtitle()" iconName="people-outline"></app-init-tile>
                <app-init-tile title="Gerät" routerLink="/settings" [subtitle]="deviceNameForSubtitle()" iconName="phone-portrait-outline"></app-init-tile>
                <app-init-tile title="Daten" (click)="dataShowLoadedDetails()" [subtitle]="dataLastSyncedForSubtitle()" iconName="cube-outline"></app-init-tile>
                <app-init-tile title="System" (click)="dataShowAvailabilityDetails()" [subtitle]="availabilityStatusForSubtitle()" iconName="shield-checkmark-outline"></app-init-tile>
            </div>
        </div>
    </div>
</ion-content>