.logo{
    max-width: 100px;
    width: 100%;
}

.tagline{
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    color: #777;
    margin: 2em 0em;
}

.cards{
    margin-top: 2em;
    width: 100%;
    max-width: 640px;
}

.button-systemstatus-abrufen{
    position: fixed;
    right: 20px;
    --ion-color-primary: #ccc;
    font-size: 0.8em;
}

    .button-systemstatus-abrufen{
        bottom: 16px;
    }

.centered{
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-icon{
    font-size: 2em;
}

ion-col{
    --ion-grid-column-padding: 0.65em;
}

.tile{
    background-color: #f4f4f4;
    padding: 2em;
    border-radius: 0.7em;
    width: 100%;

    h4{
        font-weight: bold;
        font-size: 1.25em;
        margin: 0px;
        line-height: 1;
    }

    p{
        line-height: 1;
        margin-bottom: 0px;
    }

    &--success{
        background-color: rgb(68, 68, 158);
        color: #fff;
    }
}
