<ion-content class="center" padding="true">
    <ion-grid class="center">
        <ion-row class="center" justify-content-center align-items-center>
            <h2 class="headline">Synchronisierung der FFGBSY-App mit dem Server</h2>
            <ion-spinner [hidden]="!datenSynchronisierungLaeuft" name="lines-small"></ion-spinner>
            <p class="message">{{ messageLineOne }}<br />{{ messageLineTwo }}</p>
            <ion-button [hidden]="datenSynchronisiert" (click)="datenSynchronisierungStarten()">Synchronisierung starten
            </ion-button>
            <ion-button [hidden]="!datenSynchronisiert || !lokalesGeraetReady" [routerLink]="['/select-aufnehmer']">
                <ion-label>Aufnehmer auswählen</ion-label>
                <ion-icon name="arrow-forward" slot="end"></ion-icon>
            </ion-button>
            <ion-button [hidden]="!datenSynchronisiert || lokalesGeraetReady" (click)="openGeraeteSelect()"
                fill="outline">
                <ion-label>Lokales Gerät konfigurieren</ion-label>
                <ion-icon name="settings" slot="end"></ion-icon>
            </ion-button>

            <p class="geraet-message" [hidden]="!datenSynchronisiert">{{ geraet_message }}</p>

            <ion-button class="button-erneute-synchronisation" [hidden]="!datenSynchronisiert"
                (click)="datenSynchronisierungStarten()" fill="outline" shape="round">
                <ion-label>Daten erneut synchronisieren</ion-label>
                <ion-icon name="sync" slot="end"></ion-icon>
            </ion-button>
            <ion-button class="button-systemstatus-abrufen" (click)="systemstatusAbrufen()" fill="outline"
                shape="round">
                <ion-label>Systemstatus prüfen</ion-label>
                <ion-icon name="cloud-done" slot="end"></ion-icon>
            </ion-button>
        </ion-row>
    </ion-grid>

    <ion-select [interfaceOptions]="{header: 'Geräte'}" [(ngModel)]="settings.locale.diesesGeraetId"
        (ionChange)="settings.saveLocal(); refrehLocalGeraet();">
        <ion-select-option *ngFor="let geraet of data.geraete" [value]="geraet.id">{{ geraet.hersteller }} {{
            geraet.type }} ({{ geraet.ip }})</ion-select-option>
    </ion-select>
</ion-content>
