<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Logs</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">
        <ion-item *ngFor="let log of logs" (click)="frontend.showLog(log)">
            <ion-label>
                <h3>{{ log.message }}</h3>
                <ion-chip>{{ log.timestamp }}</ion-chip>
                <ion-chip>{{ log.device_name ?? 'kein Gerätename' }}</ion-chip>
                <ion-chip>{{ log.device_ip }}</ion-chip>
            </ion-label>
            <ion-chip>Level {{ log.level }}</ion-chip>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-list>
        <ion-item color="light">
            <ion-icon slot="start" name="bug-outline"></ion-icon>
            <ion-label>Level</ion-label>
            <ion-select interface="action-sheet" placeholder="Level" [(ngModel)]="usedFilter.level">
                <ion-select-option [value]="0">Trace</ion-select-option>
                <ion-select-option [value]="1">Debug</ion-select-option>
                <ion-select-option [value]="2">Info</ion-select-option>
                <ion-select-option [value]="3">Log</ion-select-option>
                <ion-select-option [value]="4">Warn</ion-select-option>
                <ion-select-option [value]="5">Error</ion-select-option>
                <ion-select-option [value]="6">Fatal</ion-select-option>
                <ion-select-option [value]="7">Off</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item color="light">
            <ion-icon slot="start" name="timer-outline"></ion-icon>
            <ion-label>Anzahl</ion-label>
            <ion-select interface="action-sheet" placeholder="Anzahl" [(ngModel)]="usedFilter.limit">
                <ion-select-option *ngFor="let limit of availableFilter.limits" [value]="limit">{{ limit }}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item class="search-button ion-text-center ion-activatable ripple-parent" (click)="searchLogs()" lines="none" color="primary">
            <ion-label>
                <ion-icon name="search-outline"></ion-icon>
                Suchen
            </ion-label>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-item>
    </ion-list>
</ion-footer>