<ion-header>
    <ion-toolbar>
      <ion-title>Benutzer wählen</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-radio-group [(ngModel)]="selectedAufnehmerId" name="selectedAufnehmerId" allow-empty-selection="false">
        <ion-item *ngFor="let a of aufnehmer">
          <ion-label>{{a.vorname}} {{a.nachname}}</ion-label>
          <ion-radio [value]="a.id" (ionSelect)="aufnehmerChange(a)"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <div class="content-container content-container--center-horizontal">
          <div class="content-container__inner">
              <ion-button href="/neue-bestellung" routerDirection="root">Weiter</ion-button>
          </div>
      </div>
      
    </ion-list>
  </ion-content>
  