<h3>{{ label() }}</h3>
<div class="cards">
    <ffgbsy-tile [title]="keys()?.bestellungen_anzahl" subtitle="Bestellungen"></ffgbsy-tile>
    <ffgbsy-tile [title]="keys()?.produkte_anzahl" subtitle="Verkaufte Produkte"></ffgbsy-tile>
    <ffgbsy-tile [title]="keys()?.hauptspeisen_anzahl" subtitle="Hauptspeisen"></ffgbsy-tile>
    <ffgbsy-tile [title]="keys()?.bons_anzahl" subtitle="Gedruckte Bons"></ffgbsy-tile>
    <ffgbsy-tile [title]="keys()?.umsatz | euroPreis" subtitle="Umsatz"></ffgbsy-tile>
</div>
