<ion-header>
  <ion-toolbar>
    <ion-title>Tisch: {{bestellung?.tisch?.reihe}} {{bestellung?.tisch?.nummer}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let bp of bestellung.bestellpositionen.slice().reverse()" (click)="editBestellungsposition(bp)">
      <ion-label text-wrap>
        <h3><strong>{{ bp.anzahl }}</strong> {{ bp.produkt.name }}</h3>
        <p>{{ (bp.produkt.preis * bp.anzahl) | euroPreis }}</p>
        <p *ngIf="bp.display.eigenschaften.mit.length" ><strong>MIT:</strong> {{ bp.display.eigenschaften.mit.join(", ") }}</p>
        <p *ngIf="bp.display.eigenschaften.ohne.length"><strong>OHNE:</strong> {{ bp.display.eigenschaften.ohne.join(", ") }}</p>
        <p *ngIf="bp.notiz"><strong>Notiz:</strong> {{ bp.notiz }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
    <ion-button icon color="success" expand="block" size="large" (click)="sendBestellung()">
      <ion-icon slot="start" name="cloud-upload"></ion-icon>
      Absenden
    </ion-button>
    <ion-button color="danger" expand="block" size="small" (click)="closeModal()">Abbrechen</ion-button>
</ion-footer>
