<ion-header>
    <ion-toolbar>
        <ion-title>Aufnehmer auswählen</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list lines="full">
        @for (person of personenFiltred(); track person.id) {
            <ion-item (click)="select(person)">
                <ion-label>{{ person.vorname }} {{ person.nachname }}</ion-label>
            </ion-item>
        }
    </ion-list>
</ion-content>
<ion-footer class="aufnehmer-auswahl-footer">
    <ion-button (click)="cancel()" shape="round">
        <ion-icon slot="start" name="close-outline"></ion-icon>
        Auswahl abbrechen
    </ion-button>
</ion-footer>
