<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Impressum</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-divider>
            <ion-label>Grundinformationen</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label>
                <h3>FFGBSY - FF Gemeinlebarn Bestellsystem</h3>
                <p>Projektname</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>August 2017 bis Oktober 2018</h3>
                <p>Konzeption</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>Mai bis August 2022; November 2018 bis August 2019</h3>
                <p>Entwicklung</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>
                    <strong>Jakob Vesely</strong><br>
                    <span>www.jakob.fyi</span><br>
                    <span>contact@jakob.fyi</span>
                </h3>
                <p>Entwickler</p>
            </ion-label>
        </ion-item>
        <ion-item-divider>
            <ion-label>App</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label>
                <h3>Progressive Web App</h3>
                <p>Platform</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>Ionic Framework (Angular) 6</h3>
                <p>Framework</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
