@defer (when produktbereich()) {
<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="/admin/daten/produktbereiche"></ion-back-button>
        <ion-title>{{ produktbereich()?.name }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="save()">
                <ion-icon name="save" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form" (ngSubmit)="save()">
        <ion-list lines="full">
            <ion-item>
                <ion-label position="stacked">Name</ion-label>
                <ion-input formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Farbe</ion-label>
                <ion-input formControlName="color"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Drucker</ion-label>
                <ion-select formControlName="drucker_id_level_0">
                    <ion-select-option [value]="null">Kein Drucker definiert</ion-select-option>
                    @for (drucker of drucker(); track drucker.id) {
                    <ion-select-option [value]="drucker.id">{{ drucker.name }}</ion-select-option>
                    }
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
}

@placeholder{
<ffgbsy-page-spinner></ffgbsy-page-spinner>
}