<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Grundprodukte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (grundprodukt of edit.grundprodukte; track grundprodukt) {
      <ion-item [routerLink]="[grundprodukt.id]">
        <ion-label>
          <h3>{{ grundprodukt.name }}</h3>
        </ion-label>
        @if (grundprodukt.bestand !== null && grundprodukt.bestand < 20) {
          <ion-chip color="danger">
            <ion-icon name="alert-circle"></ion-icon>
            <ion-label>{{ grundprodukt.bestand }} {{ grundprodukt.einheit }}</ion-label>
          </ion-chip>
        }
        @if (grundprodukt.bestand === null || grundprodukt.bestand >= 20) {
          <ion-chip color="success">
            <ion-icon name="checkmark-circle"></ion-icon>
            <ion-label>
              @if (grundprodukt.bestand === null) {
                <span>Unlimitiert</span>
              }
              @if (grundprodukt.bestand !== null) {
                <span>{{ grundprodukt.bestand }} {{ grundprodukt.einheit }}</span>
              }
            </ion-label>
          </ion-chip>
        }
      </ion-item>
    }
  </ion-list>
</ion-content>
