<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Systemstatus<span [hidden]="!systemstatusDateTime"> von {{ systemstatusDateTime | date: 'dd.MM.yyyy HH:mm:ss' }} Uhr</span></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list lines="full">
        <ion-item-divider>
            <ion-label>Lokale Daten</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label>
                <h3 [hidden]="data.version == 0">{{ data.version }} (Stand: {{ data.version*1000 | date: 'dd.MM.yyyy HH:mm:ss' }} Uhr)</h3>
                <h3 [hidden]="data.version != 0">Noch kein lokaler Datensatz am Gerät</h3>
                <p>Version</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list lines="full">
        <ion-item-divider>
            <ion-label>Funktionen</ion-label>
        </ion-item-divider>
        <ion-item [routerLink]="['/init']">
            <ion-label>
                <h3>App Initialisierung</h3>
                <p>Möglichkeit zur Synchronisierung der Daten</p>
            </ion-label>
        </ion-item>
        <ion-item (click)="systemstatusAbrufen()">
            <ion-label>
                <h3>Systemstatus abrufen</h3>
                <p>Drücken, um den aktuellen Systemstatus abzurufen</p>
            </ion-label>
            <ion-icon name="refresh-outline" slot="end"></ion-icon>
        </ion-item>
    </ion-list>

    <ion-list [hidden]="!systemstatus" lines="full">
        <ion-item-divider>
            <ion-label>Schnittstelle und Server</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-icon [hidden]="systemstatus?.api != null" name="radio-button-off" slot="start" color="light"></ion-icon>
            <ion-icon [hidden]="systemstatus?.api != true" name="checkmark-circle" slot="start" color="success"></ion-icon>
            <ion-icon [hidden]="systemstatus?.api != false" name="alert-circle" slot="start" color="danger"></ion-icon>
            <ion-label>API</ion-label>
        </ion-item>

        <ion-item-divider>
            <ion-label>Drucker</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let drucker of systemstatus?.drucker">
            <ion-icon [hidden]="drucker.result != null" name="radio-button-off" slot="start" color="light"></ion-icon>
            <ion-icon [hidden]="drucker.result != true" name="checkmark-circle" slot="start" color="success"></ion-icon>
            <ion-icon [hidden]="drucker.result != false" name="alert-circle" slot="start" color="danger"></ion-icon>
            <ion-label>{{ drucker.drucker.name }}</ion-label>
        </ion-item>

        <ion-item-divider>
            <ion-label>Verfügbarkeit von Grundprodukten</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let grundprodukt of systemstatus?.grundprodukte">
            <ion-icon [hidden]="grundprodukt.bestand <= 0 && grundprodukt.bestand != null" name="checkmark-circle" slot="start" color="success"></ion-icon>
            <ion-icon [hidden]="!(grundprodukt.bestand <= 0 && grundprodukt.bestand != null)" name="alert-circle" slot="start" color="danger"></ion-icon>
            <ion-label>
                <h3>{{ grundprodukt.name }}</h3>
                <p>{{ grundprodukt.bestand == null ? 'Unlimitiert' : grundprodukt.bestand + ' ' + grundprodukt.einheit }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
