<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Systemstatus</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <h2 class="ion-padding">Lookup Daten</h2>
    <ion-list lines="full">
        @for(item of dataItems(); track item)
        {
        <ffgbsy-status-list-item [status]="item.loaded ? 'success' : 'error'">
            <h3>{{ item.name }}</h3>
            <p>{{ item.numberOfItems }} Datensätze</p>
        </ffgbsy-status-list-item>
        }
    </ion-list>

    <!-- <h2 class="ion-padding"> Daten</h2>
    <ion-list lines="full">
        @for(item of dataItems(); track item)
        {
        <ffgbsy-status-list-item [status]="item.loaded ? 'success' : 'error'">
            <h3>{{ item.name }}</h3>
            <p>{{ item.numberOfItems }} Datensätze</p>
        </ffgbsy-status-list-item>
        }
    </ion-list> -->

    <h2 class="ion-padding">Services und Geräte</h2>
    <ion-list lines="full">
        <ffgbsy-status-list-item [status]="api() ? 'success' : 'error'">
            <h3>API</h3>
            <p>Erreichbarkeit</p>
        </ffgbsy-status-list-item>
        @for(item of druckerItems(); track item)
        {
        <ffgbsy-status-list-item [status]="item.result">
            <h3>{{ item.drucker.name }}</h3>
            <p>{{ item.drucker.ip }}</p>
        </ffgbsy-status-list-item>
        }
    </ion-list>
</ion-content>