:host {
    --ffgbsy-tile-fg-color: var(--ion-color-primary-contrast);
    --ffgbsy-tile-bg-color: var(--ion-color-primary--shade-3);
    --ffgbsy-tile-font-size: 1em;
    --ffgbsy-tile-padding: 1em;
    --ffgbsy-tile-gap: 1em;

    color: var(--ffgbsy-tile-fg-color);
    background-color: var(--ffgbsy-tile-bg-color);
    padding: var(--ffgbsy-tile-padding);
    font-size: var(--ffgbsy-tile-font-size);
    border-radius: 0.7em;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--ffgbsy-tile-gap);

    h3 {
        font-weight: bold;
        font-size: 1.5em;
        margin: 0;
        line-height: 1;
    }

    p {
        font-size: 1em;
        line-height: 1;
        margin: 0;
    }
}
