<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Grundprodukte</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let grundprodukt of edit.grundprodukte" [routerLink]="[grundprodukt.id]">
            <ion-label>
                <h3>{{ grundprodukt.name }}</h3>
            </ion-label>
            <ion-chip color="danger" *ngIf="grundprodukt.bestand !== null && grundprodukt.bestand < 20">
                <ion-icon name="alert-circle"></ion-icon>
                <ion-label>{{ grundprodukt.bestand }} {{ grundprodukt.einheit }}</ion-label>
            </ion-chip>
            <ion-chip color="success" *ngIf="grundprodukt.bestand === null || grundprodukt.bestand >= 20">
                <ion-icon name="checkmark-circle"></ion-icon>
                <ion-label>
                    <span *ngIf="grundprodukt.bestand === null">Unlimitiert</span>
                    <span *ngIf="grundprodukt.bestand !== null">{{ grundprodukt.bestand }} {{ grundprodukt.einheit }}</span>
                </ion-label>
            </ion-chip>
        </ion-item>
    </ion-list>
</ion-content>
